*{
    margin:0;
    padding:0;
}

body{
    background-color: #548687;
    text-align: center;
    
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    text-align: center;
    content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}

.box{
    height:18vmnin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: rgb(225, 0, 255);
    background-color: #ffffc7;
}

#reset-btn {
    border-radius: 1rem;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: black;
    cursor: pointer;
    border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg{
    background-color: rgb(3, 255, 24);
    font-size: 5vmin;
    padding-bottom: 1.2rem;
    border-radius: 0.3rem;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}