* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    width: 800px;
    height: 500px;
    position: relative;
    margin-top: 100px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #000000f4;
    align-items: center;
    border-radius: 6px;
    margin-top: 20px;
    
}

.carousel-container h2 {
    text-align: center;
    background-color: aquamarine;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
    left: 0;
    /* object-fit: cover; */
}

.buttons {
    margin-top: 0px;
    text-align: center;
    padding-top: 10px;
}

.slide img{
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
}




.buttons button {
    margin: 0px 310px 0 300px;
    padding: 30 20px;
    transition: background-color 0.3s ease;
    font-size: 22px;
    border: 1px solid black;
    color: white;
    border-radius: 4px;
    background-color: #1bcee2f0;
    
}
.buttons button:hover {
    background-color: #1be29cf0;
}
