*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins';
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3c5077;
}

.btn{
    border-radius: 30px;
    background: #ffff;
    padding: 10px 60px;
    border: 0;
    outline: none;
    cursor:pointer;
    font-size: 22px;
    font-weight: 500;
}

.popup{
    background: #fff;
    width: 400px;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s top 0.4s;
}
.openpopup{
    visibility: visible;
    top:50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup button{ 
    border-radius: 5px;
    background: #6fd649;
    padding: 10px 0px;
    width: 100%;
    margin-top: 50px;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
} 


.popup img{
    margin-top: -50px;
    width: 100px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 50%;
} 

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}